.about {
  width: 100%;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 1rem;
}

.about .content-about1,
.about .content-about2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 5px;
}

.container-about2 h1 {
  color: var(--secondry-bg-color);
  font-weight: 500;
}

.container-about2 h3 {
  color: var(--primary-font-color);
  font-weight: 400;
}

/* content-about1 */
/* Custom Classes for Layout */
.full-screen-container {
  display: flex;
  min-height: 400px;
  min-width: 400px;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  min-height: 80%;
  width: 80%;
  grid-template-columns: repeat(5, minmax(0, 0.5fr));
  gap: 0.25rem;
  padding: 1rem;
}

.grid-item {
  position: relative;
  aspect-ratio: 1 / 1;
}

.item-large {
  grid-column: span 3 / span 3;
}

.item-small {
  grid-column: span 2 / span 2;
}

/* Custom Classes for Border Radius */
.rounded-tr-large {
  border-top-right-radius: 40px;
}

.rounded-bl-large {
  border-bottom-left-radius: 40px;
}

.rounded-tl-small {
  border-top-left-radius: 40px;
}

.rounded-br-small {
  border-bottom-right-radius: 40px;
}

.self-end {
  align-self: flex-end;
}

/* Image Styling (common for all images) */
.grid-item img {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

/* content-about2 */
.content-about2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive */
@media (max-width: 768px) {
  .about {
    grid-template-columns: 1fr;
    min-height: auto;
    padding: 0.5rem;
    gap: 10px;
  }

  .about .content-about1 {
    order: 1;
    width: 100%;
    overflow: hidden;
  }

  .about .content-about2 {
    order: 2;
    text-align: left;
    width: 100%;
    overflow: hidden;
  }

  .about .content-about2 h1 {
    font-size: 1.3rem;
  }

  .about .content-about2 h3 {
    font-size: 0.9rem;
  }
}

/* @media (max-width: 768px) {
  .about {
    padding: 0.5rem;
    gap: 10px;
  }

  .about .content-about2 h1 {
    font-size: 1.3rem;
  }

  .about .content-about2 h3 {
    font-size: 0.9rem;
  }
} */
