/* -- Navbar -- */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 5%;
  background-color: var(--secondry-bg-color);
  color: var(--primary-bg-color);
  transition: background-color 0.3s;
}

/* Logo */
.nav-logo {
  font-size: 1.8rem;
  text-decoration: none;
  letter-spacing: 2px;
  color: var(--primary-bg-color);
}

/* Links */
.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  padding: 0 1rem;
}

.nav-links a {
  color: var(--primary-bg-color);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: rgb(235, 183, 11);
  transition: width 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover {
  color: var(--primary-color);
}

/* Hamburger */
.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--primary-bg-color);
  transition: all 0.3s ease-in-out;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    left: -100%;
    top: 70px; /* Samakan dengan tinggi navbar */
    flex-direction: column;
    background-color: var(--secondry-bg-color);
    width: 100%;
    text-align: center;
    transition: left 0.3s ease-in-out;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }

  .nav-links.active {
    left: 0;
  }

  .nav-links li {
    padding: 1.5rem 0;
  }

  .hamburger {
    display: block;
  }

  /* Animasi X */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
